

.app {
  padding: 30px;
  padding-bottom: 733px;
  
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  
}
.submit{
  margin-top: 10px;
  margin-left: 600px;
}
.background{
  
  
  
  background-size: cover;
}
b{
  color: lightcoral;
}